# === Configuración de la API (Alpha Vantage) ===
STOCK_API_KEY=TU_API_KEY_AQUI

# === Configuración de Azure Cloud ===
# Obtener en el Portal de Azure -> Storage Account -> Access Keys -> Connection String
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=tu_cuenta;AccountKey=tu_llave;EndpointSuffix=core.windows.net"
